  *,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.container{
    border: 1px solid #C4C4C4;
    width: 336px;
    top: 50%;
    left: 50%;
    background: white;
    border-radius: 10px;
    min-width: 336px;
    position: absolute;
    min-height: 236px;
    transform: translate(-50%,-50%);
    position: relative; 
}
#newtask{
    position: relative;
    display: flex;
    flex-direction: column;
}
#newtask input{
    width: 286px;
    height: 40px;
    padding: 3px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 10px;
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
}

#newtask input:focus{
    outline: none;
}
#newtask button{
    font-weight: 400;
    font-size: 14px;
    line-height: 16.41px;
    border: none;
    color: #ffffff;
    width: 150px;
    height: 42px;
    border-radius: 20px;
    font-family: 'Roboto',sans-serif;
    
    position: fixed;
    left: 94px;
    bottom: 18px;
    background-color: #833AE0;
    cursor: pointer;
}
#tasks{
    border-radius: 10px;
    background-color: #ffffff;
}

.task{
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    display: flex;
    width: 286px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.task span{
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.task button{
    color: #ffffff;
}

.yellow{
    width: 336px;
    height: 28px;
    background-color: yellow;
    border-radius: 10px 10px 0 0;
    border-top: 1px solid #C4C4C4;
    border-left: 1px solid #C4C4C4;
    border-right: 1px solid #C4C4C4;
}

.toDo{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    left: 120px;
    top: 36px;
    position: absolute;

}